:root{
    --gap: clamp(16px, 5vmin, 56px);
    --box: clamp(64px, 10vmin, 220px);
}

body{
    background-color: black;
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap)
}

.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap)
}

p{
    color: azure;
    font-size: clamp(18px, 5vmin, 56px);
    font-family: "Lucida Console", monospace;
    white-space: nowrap;
    text-shadow: 0 0 15px, 0 0 8px azure;
    margin: 0;
}

.loading{
    width: var(--box);
    height: var(--box);
    box-sizing: border-box;
    border: 6px solid plum;
    border-radius: 4px;
    box-shadow: 0 0 15px plum, 0 0 14px plum inset;
    animation: 2.5s Loading ease-in-out infinite;
}

@keyframes Loading{
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    66%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

.button-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#button{
    background-color: plum;
    font-family: 'Lucida console';
    font-size: clamp(16px, 4vmin, 40px);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 0.5em 1em;
    display: inline-block;
    cursor: crosshair;
    transition-duration: 0.4s;
}

#button:hover{
    transform: scale(1.15);
}